<div id="exhibitionCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class="exhibit-div hidden-xs hidden-sm">
        <%= image_tag "/landscapes/landscape4.JPG", alt: "image slide", class:"exhibition-image" %>
        <div class="exhibit-txt">
          <h2>Paintings from a Hot Climate @ Brixton Village</h2>
          <p><strong>Date:</strong> 6 March - 12 March 2019<br><strong>Opening Times:</strong> 6-10pm, 11-10pm Sat/Sun<br><strong>Location:</strong> 89 Brixton Village, Coldharbour Lane, London SW9 8PS</p>
        </div>
      </div>
      <div class="exhibit-div-mobile hidden-md hidden-lg hidden-xl">
        <div class="exhibit-image-div">
          <%= image_tag "/landscapes/landscape4.JPG", alt: "image slide", class:"exhibition-image-mobile" %>
        </div>
        <div class="exhibit-txt">
          <div>
            <h2>Paintings from a Hot Climate @ Brixton Village</h2>
            <p><strong>Date:</strong> 6 March - 12 March 2019<br><strong>Opening Times:</strong> 12-6pm<br><strong>Location:</strong> 89 Brixton Village, Coldharbour Lane, London SW9 8PS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="exhibit-div hidden-xs hidden-sm">
        <%= image_tag "/exhibitions/candidart.jpeg", alt: "image slide", class:"exhibition-image" %>
        <div class="exhibit-txt">
          <h2>Summer Salon @ Candid Arts Trust</h2>
          <p><strong>Date:</strong> 28 June - 8 July 2018<br><strong>Opening Times:</strong> 12-6pm<br><strong>Location:</strong> Candid Arts Trust, 3 Torrens Street, London EC1V 1NQ</p>
        </div>
      </div>
      <div class="exhibit-div-mobile hidden-md hidden-lg hidden-xl">
        <div class="exhibit-image-div">
          <%= image_tag "/exhibitions/candidart.jpeg", alt: "image slide", class:"exhibition-image-mobile" %>
        </div>
        <div class="exhibit-txt">
          <div>
            <h2>Summer Salon @ Candid Arts Trust</h2>
            <p><strong>Date:</strong> 28 June - 8 July 2018<br><strong>Opening Times:</strong> 12-6pm<br><strong>Location:</strong> Candid Arts Trust, 3 Torrens Street, London EC1V 1NQ</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="exhibit-div hidden-xs hidden-sm">
        <%= image_tag "/exhibitions/take_courage.jpg", alt: "image slide", class:"exhibition-image" %>
        <div class="exhibit-txt">
          <h2>Shelter Exhibition @ The Take Courage Gallery</h2>
          <p><strong>Date:</strong> 21st June 2018<br><strong>Opening Times:</strong> 12-6pm<br><strong>Location:</strong> The Take Courage Gallery, Amersham Arms, 388 New Cross Road</p>
        </div>
      </div>
      <div class="exhibit-div-mobile hidden-md hidden-lg hidden-xl">
        <div class="exhibit-image-div">
          <%= image_tag "/exhibitions/take_courage.jpg", alt: "image slide", class:"exhibition-image-mobile" %>
        </div>
        <div class="exhibit-txt">
          <div>
            <h2>Shelter Exhibition @ The Take Courage Gallery</h2>
            <p><strong>Date:</strong> 21st June 2018<br><strong>Opening Times:</strong> 12-6pm<br><strong>Location:</strong> The Take Courage Gallery, Amersham Arms, 388 New Cross Road</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="exhibit-div hidden-xs hidden-sm">
        <%= image_tag "exhibitions/airfield.jpg", alt: "image slide", class:"exhibition-image" %>
        <div class="exhibit-txt">
          <h2>AIRFIELD @ St John's Square Gallery</h2>
          <p><strong>Date:</strong> 20 March - 27 March 2017<br><strong>Opening Times:</strong> 12-8pm<br><strong>Location:</strong> The Gallery, Craft Central, 33-35 St John's Square, Clerkenwell, London EC1M 4DS</p>
        </div>
      </div>
      <div class="exhibit-div-mobile hidden-md hidden-lg hidden-xl">
        <div class="exhibit-image-div">
          <%= image_tag "/exhibitions/airfield.jpg", alt: "image slide", class:"exhibition-image-mobile" %>
        </div>
        <div class="exhibit-txt">
          <div>
            <h2>AIRFIELD @ St John's Square Gallery</h2>
            <p><strong>Date:</strong> 20 March - 27 March 2017<br><strong>Opening Times:</strong> 12-8pm<br><strong>Location:</strong> The Gallery, Craft Central, 33-35 St John's Square, Clerkenwell, London EC1M 4DS</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="exhibit-div hidden-xs hidden-sm">
        <%= image_tag "/exhibitions/berlin.jpg", alt: "image slide", class:"exhibition-image" %>
        <div class="exhibit-txt">
          <h2>Recorrido @ Remerge Berlin</h2>
          <p><strong>Date:</strong> 21 July - 24 July 2016<br><strong>Opening Times:</strong> 12-6pm<br><strong>Location:</strong> Remerge, Oranienburger Strasse 27, 10117 Berlin, Germany</p>
        </div>
      </div>
      <div class="exhibit-div-mobile hidden-md hidden-lg hidden-xl">
        <div class="exhibit-image-div">
          <%= image_tag "/exhibitions/berlin.jpg", alt: "image slide", class:"exhibition-image-mobile" %>
        </div>
        <div class="exhibit-txt">
          <div>
            <h2>Recorrido @ Remerge Berlin</h2>
            <p><strong>Date:</strong> 21 July - 24 July 2016<br><strong>Opening Times:</strong> 12-6pm<br><strong>Location:</strong> Remerge, Oranienburger Strasse 27, 10117 Berlin, Germany</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#exhibitionCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#exhibitionCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" href="#myCarousel"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
